@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	background: #FFFFFF;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.container {
	width: 80%;
	margin: 0 auto;
}
p {
font-family: 'Lexend Deca', sans-serif;
font-size: 175%;

}
#mission {
	color: #F35193;
	font-family: 'Work Sans', sans-serif;
	text-shadow: 1px 1px #FFCCE1;
	font-size: 300%;
}

#miss{
		font-family: 'Work Sans', sans-serif;
		font-weight: normal;
}
header{
	background: #FFFFFF;

}
header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}
#aboutUs{
	width:100%;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;

}

nav a:hover::before {
  width: 100%;
}

#womenlogo {
height: 75px;
width: 200px;
}

.problems {
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;



}

#pay {
	padding: 10px 10px 10px 10px;
	height:400px;
	width:450px;
	display: inline-block;

}
.column {
	float:left;
	width:45%;
	padding:0 10px;
}

#gap {
	color: #000000;
	font-family: 'Work Sans', sans-serif;
	font-weight: normal;
  margin-left: 310px;
	margin-right: 350px;
	font-size: 20px;
}
#wrapper {
	display: flex;
}

#divider1 {
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#marriage{
	color: #000000;
	padding: 20px 20px 20px 20px;
	margin: 0px 65% 40% 62.5%;
	font-family: 'Work Sans', sans-serif;
	font-weight: normal;
	border-color: #FFD1EB;
	width:300px;
	height:460px;
	flex: 1;
	border-style: solid;
	border-width: 8px;
}

.foo{
	background-color: #000000
}

#solutions {
	font-size: 30px;
}



.womensgap{
	display: block;
	  margin-left: auto;
	  margin-right: auto;
	  width: 30%;
}

.march{
	height: 50%;
	width: 100%;
}
.gender{
	margin-top: 70px;
	margin-left: 300px;
  color: #000000;
  font-family:  'Work Sans', sans-serif;;
  font-size: 42px;
  line-height: 52px;
}

#arrange {
	float: right;
}

.foot{
	background-color: #FFE9F5;
	margin-top: 100px;
	height: 100%;
	color: black;
	text-align: center;
	min-height:100% ;
	position: relative;
	bottom: 0;
	width: 100%;
	padding-bottom: 2.5em;


}
.fooot{
	font-family: 'Work Sans', sans-serif;
	color: #979797;
}

.yes{
	float: right;
	height:250px;
	width: 350px;

}
.fa {
	padding: 20px;
	font-size: 30px;
	width: 70px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 50%;
}

.fa:hover {
		opacity: 0.7;
}

.fa-facebook {
	background: #3B5998;
	color: white;
}

.fa-twitter {
	background: #55ACEE;
	color: white;
}

.fa-google {
	background: #dd4b39;
	color: white;
}
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

<br>
/* Slideshow container */
.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #717171;
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
	.prev, .next,.text {font-size: 11px}
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 100%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
section{
  margin-left: 200px;
  padding: 70px;
  border: 7px solid #FFD1EB;
  padding: 10px;
  float: center;
  width: 1000px;
  height:340px;
  margin-right: 60px;
  font-family: 'Work Sans', sans-serif;
  font-weight: normal;
	font-size: "10";
	font-size: larger;
}
section2{
  float: left;
}
section3{
  margin-left: 200px;
  padding: 70px;
  border: 7px solid  #FFD1EB;
  padding: 10px;
  float: right;
  width: 1000px;
  margin-right: 60px;
  margin-top: 20px;
  font-family: 'Work Sans', sans-serif;
  font-weight: normal;
	font-size: "10";
	font-size: larger;
}
section4{
  float: left;
}
section5{
  margin-left: 200px;
  padding: 70px;
  border: 7px solid #FFD1EB;
  padding: 10px;
  float: left;
  width: 1000px;
  margin-right: 60px;
  margin-top: 20px;
  font-family: 'Work Sans', sans-serif;
  font-weight: normal;
	font-size: "10";
	font-size: larger;
}
section6{
  float: left;
}

#help{
	font-family: 'Work Sans', sans-serif;
	font-size: "10";
}
