@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	background: #FFFFFF;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.container {
	width: 80%;
	margin: 0 auto;
}
p {
font-family: 'Lexend Deca', sans-serif;
font-size: 175%;

}
#mission {
	color: #F35193;
	text-decoration: overline;
	text-shadow: 2px 2px #FFCCE1;
	font-size: 300%;
}
header{
	background: #FFFFFF;

}
header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;

}

nav a:hover::before {
  width: 100%;
}

#womenlogo {
height: 75px;
width: 200px;
}

.problems {
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;



}

#pay {
	padding: 10px 10px 10px 10px;
	height:400px;
	width:450px;
	display: inline-block;

}
.column {
	float:left;
	width:45%;
	padding:0 10px;
}

#gap {
	color: #000000;
	font-family: 'Work Sans', sans-serif;
	font-weight: normal;
  margin-left: 310px;
	margin-right: 350px;
	font-size: 20px;
}
#wrapper {
	display: flex;
}

#divider1 {
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#marriage{
	color: #000000;
	padding: 20px 20px 20px 20px;
	margin: 0px 65% 40% 62.5%;
	font-family: 'Work Sans', sans-serif;
	font-weight: normal;
	border-color: #FFD1EB;
	width:300px;
	height:460px;
	flex: 1;
	border-style: solid;
	border-width: 8px;
}

#footer{
	background-color: #000000
}

#solutions {
	font-size: 30px;
}



.womensgap{
	display: block;
	  margin-left: auto;
	  margin-right: auto;
	  width: 30%;
}

.march{
	height: 50%;
	width: 100%;
}
.gender{
	margin-top: 70px;
	margin-left: 300px;
  color: #000000;
  font-family:  'Work Sans', sans-serif;;
  font-size: 42px;
  line-height: 52px;
}

#arrange {
	float: right;
}
